doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
  body
    div(id='app')
    block content
    script(src='javascripts/bundle.js')
  footer
    a(href="https://smalldata.tech/blog/2017/11/15/building-a-voice-assistant-to-control-music") powered by this tutorial
