extends layout

block content
  div(class='app')
  h1 Says one of these words to enable clementine player
  - var list = ["Play", "Stop", "Pause", "Volume up", "Volume down", "Next", "Previous"]
    each item in list
      li= item
  script(src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")
  script(src="javascripts/recognition.js")

